<main>

  <div class="container px-5 px-sm-0">
    <div class="row">
  <%= render 'users/list', user: @user ,users: @users , book: @book %>



    <div class="col-md-8 offset-md-1">
          <div class="col-md-8 offset-md-1">
          <h2>Books</h2>
          <table class="table table-hover table-inverse">
            <th>
              <th>
                title
              </th>
              <th>options</th>
            </tr>
            </tr>
          </table>
        </div>
        </div>
      </div>
      </div>
</main>