<main>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User Info</h2>
        <img src="#">
        <table class="table">
          <tr>
            <th>name</th>
            <th>ido</th>
          </tr>
          <tr>
            <td>Introduction</td>
          </tr>
        </table>
        <div class="row">
          <a class="btn btn-outline-secondary btn-block fas fa-user-cog"></a>
        </div>
        <h3>New Book</h3>
      </div>
      <div class="col-md-8 offset-md-1">

      </div>
    </div>
  </div>

</main>